// =============================
// Enable Private Variables
// =============================

$_visibility-enable:          true !default;
$_viewport-visibility-enable: true !default;

// =============================
// Core Visibility Utility Helper Classes
// =============================

// Un-namespaced Classes are to be used globally when an elements visibility is consistant across all viewports.

@if ($_visibility-enable) {
  .is-hidden,
  %is-hidden {
      display: none      !important;
      visibility: hidden !important;
  }

  //
  // Accessibly hide content:
  // http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  //

  .is-hidden-visually,
  %is-hidden-visually {
      position: absolute             !important;
      overflow: hidden               !important;
      width: 1px                     !important;
      height: 1px                    !important;
      clip: rect(1px, 1px, 1px, 1px) !important;
  }

  .is-visible,
  %is-visible {
      display: block      !important;
      visibility: visible !important;
      position: static    !important;
      width: auto         !important;
      height: auto        !important;
  }

}

// =============================
// Visibility Utility Helper Attributes
// =============================

@if ($_viewport-visibility-enable) {
  @each $viewport, $breakpoint in $viewport-values {

    // Attributes only apply once certain breakpoint is triggered.

    @include media-query($to: nth($breakpoint, 2)) {

      //
    	// Is Hidden Utility Helper Attribute removes elements completely from document, making them not
    	// visible to screen readers.
      // Example Use - data-desk="is-hidden".
      //

    	[data-#{$viewport}~="is-hidden"] {
    	    display: none      !important;
    	    visibility: hidden !important;
    	}

      //
    	// Is Hidden Utility Helper Attribute removes elements from the flow of the document, but they are still
    	// visible to screen readers.
    	// Example - data-desk="desk-is-hidden".
      //

    	[data-#{$viewport}~="is-hidden-visually"] {
    	    position: absolute             !important;
    	    overflow: hidden               !important;
    	    width: 1px                     !important;
    	    height: 1px                    !important;
    	    clip: rect(1px, 1px, 1px, 1px) !important;
    	}

      [data-#{$viewport}~="is-visible"] {
          display: block      !important;
          visibility: visible !important;
          position: static    !important;
          width: auto         !important;
          height: auto        !important;
      }

    }

  }
}
