// =============================
// Core Global Default Variables
// =============================

//
// Global Spacing Values List contains all multiples of the base-spacing-unit value you would like to generate
// within both your padding and margin utility partials.
// Note - Fractions will divide the base-spacing value, and values which are proceeded by an "x"
// multiply the base-spacing value. 0 will create instances which remove spacing.
//

$global-spacing-values: ("1/2", "1x", "2x", "3x", "0") !default;

//
// Global Spacing Directions Map contains all the spacing variations which are to be generated
// when calling the generate-spacing mixin.
// Example - t: (top) property called with Margin, would result in mar-t-* attributes/classes being generated.
//
// Value Key:
// -t- = Top
// -b- = Bottom
// -l- = Left
// -r- = Right
// -e- = Ends  (Top & Bottom)
// -s- = Sides (Left & Right)
//

$global-spacing-directions: (
    t:  (top),
    b:  (bottom),
    l:  (left),
    r:  (right),
    e:  (top, bottom),
    s:  (left, right)
) !default;

//
// Set Global Box Sizing Variable to true by default, so it takes effect on all elements.
// Note - Changing this value to false will result in only adding box-sizing to grid-item elements.
//

$global-box-sizing: true !default;

// =============================
// Core Aesthetic Default Variables
// =============================

//
// Base Background & Text Colors are defaulted for the purposes of setting the values on the html element,
// in the reset partial.
//

$base-background-color: #FFF !default;
$base-text-color:       #333 !default;

// =============================
// Core Textual Default Variables
// =============================

//
// Font Stacks are stored within variables to allow for reusability and extensibility.
// Note - Alpha stack should contain your most prominent textual font, as it is added to the body element to cascade.
// Reasoning for default stack - http://www.jordanm.co.uk/tinytype.
//

$font-family-alpha: Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif !default;

//
// Base Font Size is defaulted for the purposes of setting the font size on the html,
// as well as providing a default value for various mixins and functions.
//

$base-font-size: 16 !default;

// =============================
// Core Spacing Default Variables
// =============================

//
// Base Horizontal Spacing Unit gives us a unit for padding and margin purposes, to create multiple of.
// This value should be based off the gutter defined in your grid.
// Note - This should be changed within your local file, to reflect your applications requirements.
//

$base-spacing-unit: 20 !default;

// =============================
// Core Viewport Default Variables
// =============================

//
// Viewport Values Map contains breakpoint values/sub-values which are used throughout applications,
// within mixins, functions and for looping directives to namespace certain elements.
//
// Example - The $breakpoint parameter within the media-query mixin, uses the first element in each list.
// Parameter Description:
//
// List[1] - The viewport minimum width.
// List[2] - The viewport maximum width.
// List[3] - The number of columns in the grid for that defined viewport.
//

$viewport-values: (
	desk: (1025, 3000, 12),
	lap:  (641,  1024, 8),
	palm: (320,  640,  4)
) !default;
