// =============================
// Enable Private Variables
// =============================

$_clearfix-enable: true !default;

// =============================
// Core Clearfix Utility Helper Class
// =============================

@if ($_clearfix-enable) {
	.clearfix,
	%clearfix {

	  &:before,
	  &:after {
	    content: " ";
	    display: table;
	  }

	  &:after {
	    clear: both;
	  }

	}
}
