// =============================
// Enable Private Variables
// =============================

$clearfix-enable: true !default;

// =============================
// Clearfix Utility Helper Class
// =============================

@if ($clearfix-enable) {
	.clearfix {

	  &:before,
	  &:after {
	    content: " ";
	    display: table;
	  }

	  &:after {
	    clear: both;
	  }

	}
}