// =============================
// Text Weight Utility Helper Classes
// =============================

.text-bold   { font-weight: bold   !important; }
.text-normal { font-weight: normal !important; }

// =============================
// Text Style Utility Helper Classes
// =============================

.text-italic { font-style: italic !important; }

// =============================
// Text Transform Utility Helper Classes
// =============================

.text-caps { text-transform: uppercase !important; }



