// =============================
// Enable Private Variables
// =============================

$_text-weight-enable:    true !default;
$_text-style-enable:     true !default;
$_text-transform-enable: true !default;

// =============================
// Core Text Weight Utility Helper Classes
// =============================

@if ($_text-weight-enable) {
	.text-bold,
	%text-bold   {
		font-weight: bold   !important
	}
	.text-normal,
	%text-normal {
		font-weight: normal !important
	}
}

// =============================
// Core Text Style Utility Helper Classes
// =============================

@if ($_text-style-enable) {
	.text-italic,
	%text-italic {
		font-style: italic !important
	}
}

// =============================
// Core Text Transform Utility Helper Classes
// =============================

@if ($_text-transform-enable) {
	.text-caps,
	%text-caps      {
		text-transform: uppercase  !important
	}
	.text-smallcaps,
	%text-smallcaps {
		font-variant:   small-caps !important
	}
}
