// =============================
// Base Image Styling
// =============================

// 1. Offset `alt` text from surrounding copy.
// 2. Add fluiditity to imagery for responsive purposes.

img {
    font-style: italic; // 1
    max-width: 100%;    // 2
}

// Remove max-width property if certain imagery contain height & width attribute values.

img[width],
img[height] {
    max-width: none;
}