// =============================
// Enable Private Variables
// =============================

$_global-box-sizing: $global-box-sizing;

// =============================
// Core Base Reset Styling
// =============================

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
    margin:  0;
    padding: 0;
}

//
// If Global Box Sizing Boolean is set to true, add box-sizing to all elements.
// Note - For alternative approach, view grids partial.
//

@if $_global-box-sizing == true {
	* {
	    &,
	    &:before,
	    &:after {
	        box-sizing: border-box;
	    }
	}
}

//
// 1. Set the default `font-size` for the entire project,
//    sourced from our default variables.
// 2. Force scrollbars to always be visible to prevent awkward `jumps` when
//    navigating between pages that do/do not have enough content to produce
//    scrollbars naturally.
// 3. Ensure the page always fills at least the entire height of the viewport.
//

html {
    background-color: $base-background-color;
    color: $base-text-color;
    font-family: $font-family-alpha;
    font-size: to-pixel($base-font-size); // 1
    overflow-y: scroll;                   // 2
    min-height: 100%;                     // 3
}
