// =============================
// Float Utility Helper Attributes
// =============================

// Viewport Margin Utility Helper Attributes are generated via the below loop to namespace attributes for certain viewports.
// The advantage to this, is it allows floats to be added to a certain element specifically for a breakpoint which you have defined.
// Example Use - data-desk="desk-float-left" data-lap="lap-float-none".

@each $viewport, $breakpoint in $viewport-values {

  // Classes only apply once certain breakpoint is triggered.
  
  @include media-query(nth($breakpoint, 1)) {
    [data-#{$viewport}="#{$viewport}-float-left"]  { float: left  !important; }
    [data-#{$viewport}="#{$viewport}-float-right"] { float: right !important; }
    [data-#{$viewport}="#{$viewport}-float-none"]  { float: none  !important; }
  }

}

// =============================
// Float Utility Helper Classes
// =============================

// Un-namespaced Classes are to be used globally when an elements layout is consistant across all viewports. 

.float-left  { float: left;  }
.float-right { float: right; }
.float-none  { float: none;  }
