// =============================
// Enable Private Variables
// =============================

$push-enable: false !default;

// =============================
// Viewport Position Left Utility Helper Attributes
// =============================

// Viewport Position Left Utility Helper Attributes are generated via the below mixin to namespace attributes 
// for certain viewports.
// The advantage to this, is it allows position a certain element specifically for a breakpoint which you have defined.
// Example Use - data-desk="desk-push-4-12" data-lap="lap-push-4-6".

// Un-namespaced Classes are to be used globally when an elements spacing is consistant across all viewports.

@if ($push-enable) {
	@include generate-grid-percentage-batch($property: 'left', $namespace: 'push');
}
