// =============================
// Enable Private Variables
// =============================

$_valign-enable: true !default;

// =============================
// Core Vertical Align Utility Helper Attributes
// =============================

@if ($_valign-enable) {
	.valign,
	%valign {
  	display: inline-block  !important;
    vertical-align: middle !important;
	}
}
